<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/bootstrap.5.3.2.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='src/mobile.css') }}" >
    <link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static', filename='pic/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='pic/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='pic/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='pic/favicon-32x32.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='pic/site.webmanifest') }}">
</head>
<body style="background-color: rgb(24, 24, 24);" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">CodZen |</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a id="ll_l" class="nav-link active" aria-current="page" href="/">Все работы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/add">Добавить</a>
              </li>
              <a class="nav-link py-2 px-0 px-lg-2" href="https://github.com/twbs" target="_blank" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                </svg>
                <small class="d-lg-none ms-2">Telegram</small>
              </a>
            </ul>
            <form class="d-flex" action="/search" target="_self" method="post">
              <input class="form-control me-2" type="search" required placeholder="Поиск по работам" name='f' aria-label="Search">
              <button class="btn btn-outline-success" id="search_button", type="submit">Поиск</button>
            </form>
          </div>
        </div>
      </nav>

      <section id="content">
        {% block content %}{% endblock %}
      </section>
      <script src="{{ url_for('static', filename='src/bootstrap.5.3.2.js') }}" ></script>
</body>
</html>